Repository grimmolf/trader-ops, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, trading, real-time, automation, testing, documentation, ci-cd, dependencies, configuration, security, performance, database, ui, api, electron, dev-tools

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# Labels PRs based on files changed

# Backend changes
'backend':
  - 'src/backend/**/*'
  - 'pyproject.toml'
  - 'uv.lock'

# Frontend changes  
'frontend':
  - 'src/frontend/**/*'
  - 'package.json'
  - 'package-lock.json'
  - 'config/**/*'

# Trading/Market Data
'trading':
  - 'src/backend/feeds/**/*'
  - 'src/connectors/**/*'
  - '**/*tradier*'
  - '**/*market*'
  - '**/*trading*'

# Real-time/WebSocket
'real-time':
  - '**/*websocket*'
  - '**/*ws*'
  - 'src/backend/server.py'
  - '**/*stream*'

# Automation
'automation':
  - 'src/automation/**/*'
  - '**/*kairos*'
  - '**/*chronos*'
  - '**/*backtest*'

# Testing
'testing':
  - 'tests/**/*'
  - '**/*test*'
  - '**/*spec*'
  - 'playwright.config.*'

# Documentation
'documentation':
  - 'docs/**/*'
  - '*.md'
  - 'README*'

# CI/CD and DevOps
'ci-cd':
  - '.github/**/*'
  - 'scripts/**/*'
  - '**/*docker*'
  - '**/*deploy*'

# Dependencies
'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'pyproject.toml'
  - 'uv.lock'
  - 'requirements*.txt'

# Configuration
'configuration':
  - 'config/**/*'
  - '.env*'
  - '**/*config*'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'

# Security
'security':
  - '**/*auth*'
  - '**/*security*'
  - '**/*secret*'
  - '**/*token*'
  - '**/*credential*'

# Performance
'performance':
  - '**/*benchmark*'
  - '**/*performance*'
  - '**/*perf*'
  - '**/*optimization*'

# Database
'database':
  - '**/*database*'
  - '**/*db*'
  - '**/*sql*'
  - '**/*migration*'
  - '**/*schema*'

# User Interface
'ui':
  - 'src/frontend/renderer/**/*'
  - '**/*component*'
  - '**/*vue*'
  - '**/*.css'
  - '**/*.scss'

# API
'api':
  - 'src/backend/**/*api*'
  - 'src/backend/server.py'
  - 'docs/api/**/*'

# Electron
'electron':
  - 'src/frontend/main.ts'
  - 'src/frontend/preload.ts'
  - '**/*electron*'
  - 'build/**/*'

# Development Tools
'dev-tools':
  - 'scripts/**/*'
  - '.vscode/**/*'
  - '.gitignore'
  - '.gitattributes'

docs: add development log for GitHub workflows implementation [skip-dev-log]
  docs/development-logs/20250719_191930_main_13d7c45_github_workflows_implementation.json
  docs/development-logs/20250719_191930_main_13d7c45_github_workflows_implementation.md
  docs/development-logs/index.md
  uv.lock
Labels: backend, real-time, documentation, dependencies, configuration

Implement comprehensive automated trading backend infrastructure [skip-dev-log]
  .env.example
  README.md
  docs/README.md
  docs/api/README.md
  docs/architecture/PRPs/prp_tradingview_backtesting.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/architecture/PRPs/traderterminal_containerization_prp.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/developer/UV_INSTALLATION_OPTIMIZATION.md
  docs/development-logs/20250719_202610_main_476be28_trading_dashboard_core_implementation.json
  docs/development-logs/20250719_202610_main_476be28_trading_dashboard_core_implementation.md
  package.json
  scripts/quick-start.sh
  src/automation/kairos_jobs/README.md
  src/automation/kairos_jobs/kairos.conf
  src/automation/kairos_jobs/mean_reversion_strategy.yml
  src/automation/kairos_jobs/momentum_strategy.yml
  src/automation/kairos_jobs/portfolio_rebalance.yml
  src/automation/kairos_jobs/setup_kairos.sh
  src/automation/kairos_jobs/systemd/trader-kairos.service
  src/automation/kairos_jobs/systemd/trader-kairos.timer
  src/backend/datahub/server.py
  src/backend/feeds/tradier.py
  src/backend/models/__init__.py
  src/backend/models/alerts.py
  src/backend/models/execution.py
  src/backend/models/market_data.py
  src/backend/models/portfolio.py
  src/backend/trading/execution_engine.py
Labels: backend, frontend, trading, automation, testing, documentation, ci-cd, dependencies, configuration, api, dev-tools

feat: Complete TraderTerminal Desktop Dashboard Implementation [skip-dev-log]
  IMPLEMENTATION_SUMMARY.md
  README.md
  docs/api/BACKTESTING_API.md
  docs/architecture/PRPs/prp_tradingview_backtesting.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/architecture/PRPs/traderterminal_containerization_prp.md
  docs/development-logs/20250719_224645_main_281369b_trader_dashboard_complete_implementation.json
  docs/development-logs/20250719_224645_main_281369b_trader_dashboard_complete_implementation.md
  docs/development-logs/index.json
  docs/development-logs/index.md
  src/backend/datahub/server.py
  src/backend/services/backtest_service.py
  src/frontend/electron/main.js
  src/frontend/electron/main.ts
  src/frontend/electron/preload.js
  src/frontend/electron/preload.ts
  src/frontend/electron/tsconfig.json
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/renderer/components/AccountInfo.vue
  src/frontend/renderer/components/AlertPanel.vue
  src/frontend/renderer/components/BacktestPanel.vue
  src/frontend/renderer/components/NewsFeed.vue
  src/frontend/renderer/components/OrderEntry.vue
  src/frontend/renderer/components/OrderHistory.vue
  src/frontend/renderer/components/Positions.vue
  src/frontend/renderer/components/SymbolSearch.vue
  src/frontend/renderer/components/TradingDashboard.vue
  src/frontend/renderer/components/TradingViewChart.vue
  src/frontend/renderer/components/Watchlist.vue
  src/frontend/renderer/composables/useWebSocket.ts
  src/frontend/renderer/index.html
  src/frontend/renderer/src/App.vue
  src/frontend/renderer/src/main.ts
  src/frontend/renderer/src/stores/app.ts
  src/frontend/renderer/src/stores/trading.ts
  src/frontend/renderer/src/types/tradingview.d.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
Labels: backend, frontend, trading, real-time, automation, testing, documentation, configuration, ui, api

docs: refactor README with user-first focus and comprehensive documentation [skip-dev-log]
  README.md
  docs/development-logs/20250720_103000_main_fb63caa_readme_user_focus_refactor.json
  docs/development-logs/20250720_103000_main_fb63caa_readme_user_focus_refactor.md
  docs/development-logs/index.json
  docs/development-logs/index.md
Labels: documentation, configuration

fix: Rename .github/README.md to CONFIGURATION.md to fix repository display issue
  .github/CONFIGURATION.md
Labels: ci-cd

feat: complete TraderTerminal integration with comprehensive documentation updates [skip-dev-log]
  README.md
  docs/api/README.md
  docs/development-logs/20250720_174500_main_9641809_unified_trading_platform_prp_implementation.json
  docs/development-logs/20250720_174500_main_9641809_unified_trading_platform_prp_implementation.md
  docs/development-logs/index.json
  docs/development-logs/index.md
  src/backend/datahub/server.py
Labels: backend, trading, documentation, configuration, api

feat: complete Phase 3 containerization - PRP 100% FINISHED 🎉 [skip-dev-log]
  README.md
  deployment/README.md
  deployment/compose/docker-compose.dev.yml
  deployment/compose/docker-compose.prod.yml
  deployment/containers/Containerfile.datahub
  deployment/containers/Containerfile.kairos
  deployment/containers/Containerfile.redis
  deployment/podman/traderterminal-pod.yaml
  deployment/scripts/dev-compose.sh
  deployment/scripts/install-fedora.sh
  deployment/scripts/install-macos.sh
  docs/development-logs/20250720_234500_main_1274bbd_containerization_implementation_complete.json
  docs/development-logs/20250720_234500_main_1274bbd_containerization_implementation_complete.md
  docs/development-logs/index.json
  docs/development-logs/index.md
Labels: automation, documentation, ci-cd, configuration

feat: Complete Critical Path Futures Trading Implementation - PRP Week 1 [skip-dev-log]
  CLAUDE.md
  README.md
  docs/architecture/API_ACCESS_GUIDE.md
  docs/architecture/CRITICAL_PATH_APIS.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/development-logs/20250720_012459_main_5576f5f_critical_path_futures_trading_implementation.json
  docs/development-logs/20250720_012459_main_5576f5f_critical_path_futures_trading_implementation.md
  docs/development-logs/index.json
  docs/development-logs/index.md
  scripts/setup-api-keys.sh
  scripts/test_webhook.sh
  src/backend/datahub/server.py
  src/backend/feeds/topstepx/README.md
  src/backend/feeds/topstepx/__init__.py
  src/backend/feeds/topstepx/connector.py
  src/backend/feeds/topstepx/models.py
  src/backend/feeds/tradovate/__init__.py
  src/backend/feeds/tradovate/account.py
  src/backend/feeds/tradovate/auth.py
  src/backend/feeds/tradovate/manager.py
  src/backend/feeds/tradovate/market_data.py
  src/backend/feeds/tradovate/orders.py
  src/backend/webhooks/__init__.py
  src/backend/webhooks/models.py
  src/backend/webhooks/security.py
  src/backend/webhooks/tradingview_receiver.py
  src/frontend/renderer/components/AccountSelector.vue
  src/frontend/renderer/components/FundedAccountPanel.vue
  src/frontend/renderer/components/RiskMeter.vue
  src/frontend/renderer/stores/fundedAccounts.ts
Labels: backend, frontend, trading, testing, documentation, ci-cd, configuration, security, ui, dev-tools

feat: Complete Phase 1 with Comprehensive Test Suite & Symbol Mapping [skip-dev-log]
  README.md
  docs/development-logs/20250720_043000_main_bc0d26b_tradovate_test_suite_symbol_mapping_completion.json
  docs/development-logs/20250720_043000_main_bc0d26b_tradovate_test_suite_symbol_mapping_completion.md
  docs/development-logs/index.json
  docs/development-logs/index.md
  src/backend/feeds/tradovate/symbol_mapping.py
  tests/integration/__init__.py
  tests/integration/test_tradovate_integration.py
  tests/unit/conftest.py
  tests/unit/test_symbol_mapping.py
  tests/unit/test_tradovate_auth.py
  tests/unit/test_tradovate_manager.py
  tests/unit/test_tradovate_market_data.py
  tests/unit/test_tradovate_orders.py
Labels: backend, trading, testing, documentation, configuration, security

feat: implement critical path TradingView → Tradovate integration with comprehensive testing [skip-dev-log]
  CLAUDE.md
  README.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/development-logs/20250120_234500_main_prp_critical_path_implementation.json
  docs/development-logs/20250120_234500_main_prp_critical_path_implementation.md
  scripts/manual_webhook_test.py
  scripts/test_webhook_integration.sh
  src/backend/datahub/server.py
  src/backend/webhooks/tradingview_receiver.py
  tests/e2e/test_webhook_tradovate_flow.py
Labels: backend, trading, testing, documentation, ci-cd, configuration, dev-tools

🚀 MAJOR MILESTONE: Complete Multi-Broker Integration Implementation
  CLAUDE.md
  README.md
  docs/architecture/API_ACCESS_GUIDE.md
  docs/architecture/CRITICAL_PATH_APIS.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/development-logs/20250120_multi_broker_integration_completion.json
  docs/development-logs/20250120_multi_broker_integration_completion.md
  scripts/setup-api-keys.sh
  src/backend/feeds/schwab/README.md
  src/backend/feeds/schwab/__init__.py
  src/backend/feeds/schwab/account.py
  src/backend/feeds/schwab/auth.py
  src/backend/feeds/schwab/manager.py
  src/backend/feeds/schwab/market_data.py
  src/backend/feeds/schwab/trading.py
  src/backend/feeds/tastytrade/README.md
  src/backend/feeds/tastytrade/__init__.py
  src/backend/feeds/tastytrade/account.py
  src/backend/feeds/tastytrade/auth.py
  src/backend/feeds/tastytrade/manager.py
  src/backend/feeds/tastytrade/market_data.py
  src/backend/feeds/tastytrade/orders.py
  src/backend/feeds/topstepx/README.md
  src/backend/feeds/topstepx/auth.py
  src/backend/feeds/topstepx/connector.py
  src/backend/feeds/topstepx/models.py
  src/frontend/renderer/components/FundedAccountPanel.vue
  src/frontend/renderer/components/MultiBrokerOrderEntry.vue
  src/frontend/renderer/components/TradingDashboard.vue
  src/frontend/renderer/src/composables/useRealTimeData.ts
  src/frontend/renderer/src/services/api.ts
  tests/feeds/test_tastytrade_integration.py
Labels: backend, frontend, trading, testing, documentation, ci-cd, configuration, security, ui, dev-tools

🧪✨ MAJOR FEATURE: Complete Paper Trading System Implementation [skip-dev-log]
  CHANGELOG.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  docs/api/PAPER_TRADING_API.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/development-logs/20250720_103028_main_d31f6b2_paper_trading_system_implementation.json
  docs/development-logs/20250720_103028_main_d31f6b2_paper_trading_system_implementation.md
  docs/development-logs/index.md
  docs/security/SECURE_CREDENTIALS.md
  pyproject.toml
  scripts/manage_credentials.py
  scripts/setup_secure_credentials.sh
  src/backend/datahub/server.py
  src/backend/security/credential_loader.py
  src/backend/security/credential_manager.py
  src/backend/trading/paper_api.py
  src/backend/trading/paper_engine.py
  src/backend/trading/paper_models.py
  src/backend/trading/paper_router.py
  src/backend/webhooks/tradingview_receiver.py
  src/frontend/renderer/components/PaperTradingPanel.vue
  src/frontend/renderer/src/stores/paperTrading.ts
  tests/integration/test_multi_broker_integration.py
  uv.lock
Labels: backend, frontend, trading, testing, documentation, ci-cd, dependencies, configuration, security, ui, api, dev-tools

feat: Complete TradeNote integration for professional trade journaling [skip-dev-log]
  README.md
  deployment/compose/docker-compose.dev.yml
  deployment/compose/docker-compose.prod.yml
  deployment/scripts/tradenote-setup.sh
  docs/api/TRADENOTE_API.md
  docs/architecture/PRPs/prps_trader_dashboard_prp.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/development-logs/20250720_112247_main_5de5590_tradenote_integration_complete.md
  docs/user/TRADENOTE_SETUP_GUIDE.md
  src/backend/datahub/server.py
  src/backend/integrations/__init__.py
  src/backend/integrations/tradenote/__init__.py
  src/backend/integrations/tradenote/client.py
  src/backend/integrations/tradenote/hooks.py
  src/backend/integrations/tradenote/integration_example.py
  src/backend/integrations/tradenote/models.py
  src/backend/integrations/tradenote/service.py
  src/backend/strategies/__init__.py
  src/backend/strategies/api.py
  src/backend/strategies/models.py
  src/backend/strategies/performance_tracker.py
  src/backend/trading/execution_engine.py
  src/backend/webhooks/tradingview_receiver.py
  src/frontend/renderer/components/StrategyPerformancePanel.vue
  src/frontend/renderer/components/TradeNoteAnalytics.vue
  src/frontend/renderer/components/TradeNoteCalendar.vue
  src/frontend/renderer/components/TradeNotePanel.vue
  src/frontend/renderer/src/stores/strategyPerformance.ts
  src/frontend/renderer/src/stores/tradenote.ts
Labels: backend, frontend, trading, documentation, ci-cd, configuration, performance, ui, api

🎉 MAJOR MILESTONE: Complete comprehensive end-to-end integration test suite [skip-dev-log]
  README.md
  docs/development-logs/20250120_190000_main_29f28e7_comprehensive_e2e_test_suite_broker_sandbox_completion.json
  docs/development-logs/20250120_190000_main_29f28e7_comprehensive_e2e_test_suite_broker_sandbox_completion.md
  src/backend/feeds/tastytrade/manager.py
  src/backend/feeds/tradovate/manager.py
  tests/e2e/test_frontend_backend_integration.py
  tests/e2e/test_paper_trading_integration.py
  tests/e2e/test_tradenote_realtime_integration.py
Labels: backend, trading, testing, documentation, configuration, database

🏗️ ARCHITECTURE: Complete webserver-first frontend refactor (Phase -1) [skip-dev-log]
  README.md
  apps/web/README.md
  apps/web/env.d.ts
  apps/web/index.html
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/App.vue
  apps/web/src/main.ts
  apps/web/src/router/index.ts
  apps/web/src/views/AccountsView.vue
  apps/web/src/views/BacktestView.vue
  apps/web/src/views/DashboardView.vue
  apps/web/src/views/NotFoundView.vue
  apps/web/src/views/OrdersView.vue
  apps/web/src/views/PositionsView.vue
  apps/web/src/views/SettingsView.vue
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  docs/development-logs/20250120_webserver_first_frontend_refactor_phase_minus_one.md
  packages/ui/README.md
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/src/components/AccountSelector.vue
  packages/ui/src/components/FundedAccountPanel.vue
  packages/ui/src/components/RiskMeter.vue
  packages/ui/src/composables/index.ts
  packages/ui/src/index.ts
  packages/ui/src/stores/index.ts
  packages/ui/src/types/index.ts
  packages/ui/src/types/vue-components.ts
  packages/ui/tsconfig.json
  packages/ui/vite.config.ts
  src/backend/datahub/server.py
Labels: backend, testing, documentation, configuration, ui

📚 MAJOR DOCUMENTATION UPDATE: Complete TradingView Integration Guide [skip-dev-log]
  README.md
  READY_FOR_TESTING.md
  docs/CLAUDE_DEVELOPMENT_LOG.md
  docs/TRADINGVIEW_STRATEGY_EXAMPLES.md
  docs/TRADINGVIEW_WEBHOOK_SETUP.md
  docs/USER_GUIDE.md
Labels: documentation

📚 Comprehensive Documentation Update: Enterprise-Grade Security & Testing Framework [skip-dev-log]
  .github/pull_request_template.md
  .github/workflows/security-enhanced.yml
  @/development-logs/security-incident-api-key-exposure.md
  @/development-logs/security-incident-hardcoded-credentials.md
  README.md
  docs/CLAUDE_DEVELOPMENT_LOG.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/api/README.md
  docs/api/TRADENOTE_API.md
  docs/architecture/SYSTEM_ARCHITECTURE.md
  docs/security/GITHUB_SECURITY_SETUP.md
  docs/user/TRADENOTE_SETUP_GUIDE.md
  src/backend/integrations/tradenote/integration_example.py
Labels: backend, documentation, ci-cd, configuration, security, api

PHASE 0 MILESTONE: TopstepX Funded Account Integration Complete (Step 0.4) [skip-dev-log]
  PHASE_0_COMPLETION_SUMMARY.md
  README.md
  STEP_0_4_TOPSTEPX_COMPLETION_SUMMARY.md
  docs/CLAUDE_DEVELOPMENT_LOG.md
  scripts/test_topstepx_integration.py
  src/backend/feeds/topstepx/auth.py
  src/backend/feeds/topstepx/connector.py
  src/backend/feeds/topstepx/manager.py
  src/backend/feeds/topstepx/models.py
Labels: backend, trading, testing, documentation, ci-cd, security, dev-tools

🎉 PHASE 0 COMPLETE: Bloomberg Terminal Alternative Ready
  README.md
  docs/development-logs/CLAUDE_DEVELOPMENT_LOG.md
  pyproject.toml
  scripts/test_phase_0_validation.py
  scripts/validate_phase_0_structure.py
  src/backend/trading/strategy_models.py
  src/backend/trading/strategy_tracker.py
  src/backend/webhooks/processor.py
  src/backend/webhooks/receiver.py
  tests/integration/test_phase_0_end_to_end.py
  uv.lock
Labels: backend, testing, documentation, ci-cd, dependencies, dev-tools

📚 POST-PHASE 0: Documentation & Infrastructure Consolidation [skip-dev-log]
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/COMPONENT_DOCUMENTATION.md
  docs/DEVELOPMENT_STANDARDS.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/PHASE_0_COMPLETION_SUMMARY.md
  docs/READY_FOR_TESTING.md
  docs/STEP_0_4_TOPSTEPX_COMPLETION_SUMMARY.md
  docs/development-logs/CLAUDE_DEVELOPMENT_LOG.md
  packages/ui/src/stores/fundedAccounts.ts
  pyproject.toml
  scripts/check-compatibility.py
  scripts/ci-health-check.py
  scripts/fix-ci-issues.sh
  scripts/setup-dev-environment.sh
  src/backend/api/__init__.py
  src/backend/api/funded_accounts.py
  src/backend/api/strategy_performance.py
  src/backend/datahub/__init__.py
  src/backend/feeds/__init__.py
  src/backend/security/__init__.py
  src/backend/services/__init__.py
  src/backend/trading/__init__.py
Labels: backend, trading, documentation, ci-cd, dependencies, configuration, performance, dev-tools
